<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Landing Page</h1>
<header id="showcase">
    <h1>Welcome To My Site</h1>
</header>
<div id="content" class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam blanditiis esse, ex nihil quae quo rem suscipit! Alias amet animi beatae cum dolores ea eaque eum exercitationem explicabo facilis fuga illo in magnam maiores minus molestiae nesciunt nihil odit omnis quaerat qui quisquam, quod sunt tempore totam unde ut.
</div>
    <a href="#" class="btn">Read More</a>
</body>
</html>